<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>245424089567-ph57hekv46dbf8ergefkgj85o190ga54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245424089567-ph57hekv46dbf8ergefkgj85o190ga54</string>
	<key>GCM_SENDER_ID</key>
	<string>245424089567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mangosteam.zonar</string>
	<key>PROJECT_ID</key>
	<string>zonar-3b37a</string>
	<key>STORAGE_BUCKET</key>
	<string>zonar-3b37a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:245424089567:ios:f48ff871a608d2c1</string>
	<key>DATABASE_URL</key>
	<string>https://zonar-3b37a.firebaseio.com</string>
</dict>
</plist>